/*component*/
.download-opacity {
  background-color: rgba(238, 241, 236, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 992px) {
  .download-layout {
    justify-content: space-around;
    flex-direction: column;
  }
  .download-description {
     width: 50%;
     text-align: center;
  }
  .download-description * {
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .download-description p {
    display: none;
  }
}
